<%= form_for @valuation, url: valuations_path do |f| %>
  <%= check_box_tag "valuation_form_object[part_ids][]", "", true, style: "display:none;" %>
  <% if @valuation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@valuation.errors.count, "error") %> prohibited this valuation from being saved:</h2>

      <ul>
      <% @valuation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <% Part.all.each do |part| %>
    <br>
    <div class="field">
      <%= check_box_tag "valuation_form_object[part_ids][]", part.id, false, id: "part_id_#{underscore_string(part.name)}" %>
      <%= f.label :part_ids, part.name, for: "valuation_form_object_part_id_#{part.name}" %>
    </div>
    <div class="field">
    <%= f.label :quantity %><br>
    <%= number_field_tag "valuation_form_object[quantity][]", "", name: "quantity", id: "quantity_for_part_id_#{underscore_string(part.name)}", step: '1', disabled: true %>
  </div>
  <% end %>
<div class="field">
<br>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
